@import 'src/global-style'

.useEffect
  font-family: $font-display
  color: $secondary-color

  & h1
    display: block
    font-size: 24px
    padding: 10px 10px 20px 10px

  & h2
    display: block
    font-size: 18px

