@import "src/global-style"

.form
  & input
    display: block
    width: 100%
    font-size: 16px
    border: none
    padding: 5px
    outline: none
    border-bottom: 1px solid $secondary-color
    margin: 10px

  & button
    display: block
    width: 60px
    height: 40px
    outline: none
    border: 1px solid $secondary-color
    border-radius: 5px
    padding: 5px
    box-shadow: 2px 2px $secondary-shadow-color
    float: right

  & button:hover
    box-shadow: 0 0