@import 'src/global-style'
$height-width-elements: 50px
$margin-elements: 10px

.count-button
    display: inline-block
    font-family: $font-display

    & button
        float: left
        width: $height-width-elements
        height: $height-width-elements

        outline: none
        border: 1px solid $secondary-color
        background-color: $primary-color
        box-shadow: 5px 5px $secondary-shadow-color
        border-radius: 50%
        font-size: 18px
        color: $secondary-color

    & button:hover
        box-shadow: none


.count-tracker
    float: left
    width: 160px
    text-align: center
    margin: auto 20px
    font-size: 16px
    display: block

