@import ../../global-style

nav
  padding: 14px 10% 14px 20px

.navigation
  width: 100%
  position: fixed
  top: 0
  background-color: $secondary-color
  box-shadow: 0 2px $secondary-shadow-color

.navigation-list
  width: 100%
  max-width: 300px
  list-style-type: none
  background-color: $secondary-color
  display: flex
  float: right
  justify-content: space-between


  & li
    // width: 100px
    text-align: center

  & a
    display: block
    height: 20px
    color: $primary-color
    background-color: $secondary-color
    font-family: $font-navigation
    font-size: 14px
    text-decoration: none

  & a:hover
    color: $primary-color-hover
