@import 'src/global-style'

.introduction
  display: flex
  height: 75%
  width: 100%
  border-left: 1px solid black
  border-right: 1px solid black
  border-radius: 15px
  box-shadow: 2px 0 rgb(0, 0, 0, 0.1), -2px 0px rgb(0, 0, 0, 0.1)
  margin: auto 0
  justify-content: center

.introduction-display
  width: 80%
  text-align: center
  font-family: $font-display

  & .introduction-display-img
    width: 125px
    height: 125px
    margin: 25px auto 0 auto
    background-image: url(../../../../assets/img/teun.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%
    border-radius: 50%

  & h1
    margin: 10px 0 0 0
    font-style: italic